@media(max-width:1400px) {
    .step {
        max-width: 320px;
    }

    .step .step-text {
        font-size: 28px;
        max-width: 292px;
    }

    .step .step-text {
        top: 286px;
    }

    .step:nth-of-type(3) .step-text {
        top: 270px;
    }

    .step:nth-of-type(2) .step-text {
        top: 257px;
    }
}

@media(max-width:1050px) {
    .step {
        max-width: 290px;
    }

    .step .step-text {
        top: 245px;
    }

    .step .step-text {
        font-size: 21px;
        max-width: 260px;
    }

    .step:nth-of-type(3) .step-text {
        top: 230px;
    }

    .step:nth-of-type(2) .step-text {
        top: 220px;
    }

}

@media(max-width:1200px) {
    h2 {
        font-size: 75px;
        line-height: 75px;
    }
}


@media(max-width:950px) {
    body {
        font-size: 20px;
    }

    header {
        display: none;
    }

    .between-left,
    .between-rigth {
        width: 100%;
    }

    .between-block {
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }

    .action-time.desc {
        display: none;
    }

    .action-time.mob {
        display: block;
        font-size: 26px;
    }

    .runner-wrapper {
        margin: 0 auto;
    }

    .between-left {
        z-index: 1;
    }

    h1 {
        margin-top: -227px;
    }

    h2 {
        font-size: 65px;
    }

    .item-tittle {
        font-size: 34px;
    }

    .item-text p {
        font-size: 26px;

    }

    .gl_hf {
        margin-top: -220px;
    }

    .step .step-text {
        top: 242px;
        font-size: 22px;
        max-width: 250px;
    }

    .step:nth-of-type(2) .step-text {
        top: 221px;
    }

    .step:nth-of-type(3) .step-text {
        top: 215px;
    }

    footer {
        flex-direction: column;
        font-size: 16px;
        padding: 25px;
        margin-top: 50px;
    }

    .steps {}

    .step {
        max-width: 345px;
    }

    .step .step-text {
        top: 294px;
        font-size: 22px;
        max-width: 273px;
        right: 10px;
    }

    .step:nth-of-type(2) .step-text {
        top: 265px;
    }

    .step:nth-of-type(3) .step-text {
        top: 275px;
    }

    .all span,
    .item-text span {
        white-space: normal;
    }
}


@media(max-width:720px) {
    h1 {
        margin-top: -100px;
        font-size: 80px;
        line-height: 80px;
    }

    h1 img {
        width: 285px;
        padding-left: 15px
    }

    h2 {
        font-size: 50px;
        line-height: 50px;
    }

    h2 span.mod-fix-h2 {
        font-size: 40px;
        line-height: 40px;
    }

    .toggle-bar {
        width: 80%;
        margin-left: 0;
    }

    .item-text p {
        font-size: 22px;
        padding-left: 5px;
        padding-top: 5px;
    }

    span.tire img {
        width: 17px;
        height: 4px;
        margin-bottom: 4px;
    }
    .item-text p {
        padding-right: 0;
    }
    .toggle-bar .item::before {
        font-size: 30px;
        right: -28px;
        bottom: -26px;
    }
    .item-tittle {
        padding-right: 0;
    }
    .toggle-bar .item.active::before {
        width: 17px;
        height: 4px;
        right: -28px;
        bottom: -25px;
    }

    .gl_hf {
        margin-top: -170px;
        font-size: 80px;
        line-height: 80px;
    }
}

@media(max-width:580px) {
    .gl_hf {
        margin-top: -160px;
        font-size: 70px;
        line-height: 60px;
    }
}

@media(max-width:490px) {
    .gl_hf {
        margin-top: -130px;
        font-size: 65px;
        line-height: 62px;
    }

    .sub-first-text {
        font-size: 34px;
    }

    h2 span.mod-fix-h2 {
        font-size: 33px;
        line-height: 33px;
    }

    h1 {
        margin-top: -100px;
        font-size: 72px;
        line-height: 72px;
    }

    h1 img {
        width: 250px;
        padding-left: 15px;
    }
}

@media(max-width:385px) {
    h1 {
        font-size: 55px;
        line-height: 55px;
    }

    h1 img {
        width: 215px;
    }

    .gl_hf {
        margin-top: -90px;
        font-size: 55px;
        line-height: 55px;
    }

    .all {
        font-size: 22px;
    }

    .sub-first-text {
        font-size: 20px;
    }

    h2 {
        font-size: 48px;
        line-height: 48px;
        margin-top: 30px;
    }

    h2 span.mod-fix-h2 {
        font-size: 30px;
        line-height: 30px;
    }

    .step .step-text {
        max-width: 250px;
    }

    .step .step-text {
        top: 264px;
    }

    .step:nth-of-type(2) .step-text {
        top: 250px;
    }

    .step:nth-of-type(3) .step-text {
        top: 245px;
    }

    button.aff-btn {
        padding: 22px 30px;
    }

    .item-tittle {
        font-size: 22px;
    }

    .toggle-bar {
        margin-left: 0;
    }





}

@media(max-width:355px) {
    .step .step-text {
        max-width: 230px;
    }

    .step .step-text {
        top: 230px;
    }

    .step:nth-of-type(2) .step-text {
        top: 215px;
    }

    .step:nth-of-type(3) .step-text {
        top: 215px;
    }

    h1 img {
        width: 190px;
    }

    h2 {
        font-size: 40px;
        line-height: 40px;
    }

    h2 span.mod-fix-h2 {
        font-size: 26px;
        line-height: 26px;
    }
    button.aff-btn {
        font-size: 20px;
    }
}

@media(max-width:333px) {
    .step .step-text {
        max-width: 211px;
    }

    .step .step-text {
        top: 210px;
    }

    .step:nth-of-type(2) .step-text {
        top: 195px;
    }

    .step:nth-of-type(3) .step-text {
        top: 195px;
    }

    .bx-viewport {
        height: 400px !important;
    }
}